
<h1 class="text-center title">  The  <span id="adj">( reasonably ) </span> AMAZING quiz App</h1>
<div class="container vertical-center">



 <div class="selector">
 <h3> Select your quiz:</h3>

 <li>
<ul class="selection" *ngFor="let a of quiz"  >
    
    {{a.name}}   : 
    <a routerLink="/{{a.name}}" class="btn btn-primary">Choose the {{a.name}} quiz</a>
 </ul>
</li>


</div>
</div>
<app-footer></app-footer>
<!-- 
<div class="answer" *ngFor="let a of answers.values" 
    [ngClass]="{correct: a.correct}">
    {{a.value}}
    <a routerLink="/welcome" class="btn btn-primary">Choose another quiz</a>
</div> -->
